  
header {
  width: 100%;
  background-color: #C94B30;
 height:100px;

}
* {
  margin: 0px;
  padding: 0px;
}
img
{
margin-left: 70px;
padding-top: 8px;
display: inline-block;
padding-bottom: 0px;
}
footer {
  width: 100%; 
  background-color: #C94B30;
  position: fixed;
  height: 59px;
  font-size: 22px;
  left: 0;
  bottom: 0;
}
#heading {


  font-size: 50px;
  color: #FFFFFF;
  margin-left: 500px;
  padding-top:1px;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#ftext {
  padding-top: 20px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 nav {
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}
/*
#list {
  float: left;
  list-style-type: none;
}*/
li a {
  display: block;
  color:white;
  list-style-type: none;
  padding-right:5px;
  margin-right:50px;
}
  /* text-align: center; 
 
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
li:hover {
  background-color: #111;
} */
#topic {
  
  margin-right: 10px;
 margin-left:550px;
 color:#ffffff;
 list-style-type: none;   
}

#log{
        color: #011108;
        padding-top: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.table{
  padding-top: 5px;
  margin-left:450px;
  margin-right:auto; 
  
}
.table td { 
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#button{
  width: 125px;
  height: 60px;
  margin-left: 140px;
  padding: 16px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#ok-button{
  width: 130px;
  height: 40px;
  margin-left: 0px;
  padding: 2px;
  font-size: 13px;
  color:white;
  background-color: #9B3C86;
  border: 5px;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#body-heading
{
  padding-top: 55px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#search
{
  padding-top: 85px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#upload{
  width: 75px;
  height: 40px;
  margin-left: 50px;
  background-color: #5CABDC;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 

}
#generate-button
{
  width: 110px;
  height: 40px;
  margin-left: 210px;
  background-color: #5CABDC;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
h1{
  text-align: center;
  
}
.box{
  background:rgb(170, 209, 228);
  width:500px;
  border-radius:6px;
  margin: 70px auto 70px auto;
  padding:40px 80px 90px 70px;
  border: #2980b9 4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

#btn{
 height:38px;
  width:145px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:8px;
  border: 1px solid;
  
  margin-top:20px;
  margin-bottom:25px;
  float:left;
  margin-left:22px;
  font-weight:800;
  font-size:0.8em;
}

